# MongoDB Connection
MONGODB_URI=mongodb+srv://hamzalaribi2018_db_user:@ecole24092019@@cluster0.qssoxov.mongodb.net/?appName=Cluster0

# JWT Secret
JWT_SECRET=@ecole24092019@
JWT_EXPIRE=7d

# Server Port
PORT=5000

# Google Sheets API
GOOGLE_SHEETS_ID=your_google_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=your_private_key_here

# Admin Credentials
ADMIN_EMAIL=hamzalaribi2018@gmail.com
ADMIN_PASSWORD=ecole24092019

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
